@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
/* Font */
body {
  font-family: sans-serif;
}
.container {
   width:100%;
}

/* Logo */
h1 {
  box-shadow: 1px 2px 2px #888888;
  background-color: #707070;
}

/* Recruitment Application Section */

.recruitment_application {
  position: relative;
  width: 100%;
  height: 500px;
  box-shadow: 1px 2px 2px #888888;
}
.recruitment_application--heading1 {
  padding: 45px 0 0 40px;
  font-weight: bold;
  font-size: 32px;
  color:#5f69d1; 
}
.recruitment_application--heading2 {
  padding-left: 40px;
  display: block;
}
.wrapper {
  width: 51%;
  padding-left: 40px;
}
.recruitment_application--article--heading, .recruitment_application--heading2 {
  margin-top: 10px;
  font-size: 20px;
 color:#5f69d1;  
}
.recruitment_application--article--heading {
  margin: 15px 0;
  line-height: 1.6;
}
.recruitment_application--artricle--para {
  line-height: 1.6;
  font-size: 18px;
  color: #898989;
}
.recruitment_application--artricle--para a {
  color: #4bc79c;
}
.cta-button {
  display: inline-block;
  margin: 20px 20px;
  padding: 18px 15px;
  text-transform: uppercase;
  font-size: 20px;
}
.cta-button1 {
color: #fff;
text-decoration: none;
font-weight: bold;
margin-right: 10px;
  background-color: #4bc79c;
  border-radius: 3px;
  padding: 18px 15px;
}
.cta-button2 {
color: #fff;
text-decoration: none;
font-weight: bold;
background-color: #4bc79c;
border-radius: 3px;
padding: 18px 15px;
}
/* Recruitment Image Slider */
.card {
  position: absolute;
  top: 0;
  right: 0;
}
.card--container--image {
  top: 0;
  right: 0;
  position: relative;
}
.card--container--nav-left {
  color: #fff;
  font-size: 45px;
  position: absolute;
  top: 190px;
  left: 25px;
}

.card--container--nav-right {
  color: #fff;
  font-size: 45px;
  position: absolute;
  top: 190px;
  right: 25px;
}
.card ul li {
  list-style-type: none;
}
.card--container--nav {
    position: absolute;
    bottom: 20px;
    left: 45%;
}
.card--container--nav-pointer
{
  display: inline-block;
  list-style-type: none;
}
.card--container--nav-pointer a{
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  color :white;
}
/* Recruitment Section completed */

/* About-Team Section */
.abt-team {
  box-shadow: 1px 2px 2px #888888;
}
.abt-team h2 {
  margin: 40px;
  font-weight: bold;
  font-size: 32px;
  color:#5f69d1;
}
.Abt_conatiner{
  vertical-align: top;
  display: inline-block;
  width: 33%;
  position: relative;
  left: 105px;
}
.Abt_conatiner img {
  width: 185px;
  text-align: center;
  border: 1px solid #5f69d1;
  margin-bottom: 15px;
}
.heading-span {
  font-size: 14px;
  text-align: center;
  display: block;
  width: 185px;
  color: #787979;
  font-weight: 600;
  margin-top: 10px; 
}
.span {
  color: #787979;
  font-size: 12px;
  text-align: center;
  display: block;
  width:185px;
  margin:10px 0 45px 0;
}
.Abt_conatiner h4 {
  color: #4bc79c;
  font-weight: 500;
  font-size: 20px;
  width: 185px;
  text-align: center;
}
.ratings {
  width: 185px;
  text-align: center;
  margin-top: 10px;
}
.ratings li {
display: inline-block;
list-style-type: none;
padding:5px; 
}
.ratings li a {
  text-align: center;
}
.fas {
  color: #5f69d1;
}
.far {
  color:#5f69d1;
}
/* About-Team completed */
/* Recruitment Procedure */
.rps {
  box-shadow: 1px 2px 2px #888888;
}

.rps h2 {
  margin: 40px 40px 20px;
  font-weight: bold;
  font-size: 32px;
  color:#5f69d1;
}
.rps-container {
  padding: 0 40px 0;
  width: 1230px;
}
.rps-wrap {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  width: 320px;
  margin: 10px 40px 20px; 
}
.rps-wrap .fas {
  color: #fff;
  background-color: #5f69d1;
  background-size: 100px; 
  font-size: 43px;
  border-radius: 50%;
  padding: 15px;
}
.rps-wrap a {
  text-decoration:none;
}
.rps-wrap h4 {
  font-size: 22px;
  line-height: 1.6;
  color: #707070;
  font-weight: 600;
  padding: 20px 0 20px; 
}
.rps-wrap p {
  color: #707070;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  width: 320px;
  margin-bottom: 20px;
}
/* Recruitment Procedure Comkpleted */

/* Testimonal */
.testimonal {
 width: 100%;
 height: 235px;
 color: #fff;
 background-color: #5f69d1;
}
#testimonal-wrapper {
  position: relative;
}
.testimonal h3 {
  font-size: 30px;
  font-weight: 600;
  padding: 40px;
}
.testimonal-ul  {
  display: inline-block;
  text-align: center;
  margin-left: 150px;
  width: 75%;
}
.testimonal-ul li {
   list-style-type: none;
}
.testimonal-ul li p{
  line-height: 1.6;
  font-size: 18px;
}
.testimonal--container--nav-right {
  color: #fff;
  font-size: 45px;
  position: absolute;
  top: 0;
  left: 10px;
}
.testimonal--container--nav-left {
  color: #fff;
  font-size: 45px;
  position: absolute;
  top: 0;
  right: 10px;
}
.testimonal--container {
 position:absolute;
 bottom: -40px;
 left: 45%;
}
.testimonal--container--nav-pointer {
  display: inline-block;
  list-style-type: none;
}
.testimonal--container--nav-pointer a{
  color: #fff;
  padding: 5px;
  font-size: 50px;
  text-decoration: none;
}
